# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment folders
.env
.venv/
env/
venv/

# OS-specific files
.DS_Store
Thumbs.db

# VSCode or IDE folders (optional)
.vscode/
.idea/
